<!-- navbar --> 
<div  data-controller="aboutus" Navbar-hidden>
	<!-- Navbar On Computer -->
	<nav class="w-full flex pr-6 md:pl-0 pl-2 xl:h-[80px] h-[60px] items-center glass-bg cursor-pointer fixed top-0 z-50 border-b border-black border-opacity-10">
		<!-- Navbar Container wrapper -->
		<div class="flex   container mx-auto items-center justify-between  ">
			<%= image_tag("https://codeeditor.alihamzakamboh.com/Code%20Editor/ahkamboh.png", class:" relative object-contain w-[130px] h-[80px] ") %>
			<div class="lg:flex gap-14  hidden ">
				<a href="/index" class="text-black 2xl:text-lg text-sm  font-normal group transition duration-300">Home<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950 "></span></a>
				<a href="#" class="text-black 2xl:text-lg text-sm  font-normal group transition duration-300">Pricing<span class="block max-w-0  group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950"></span></a>
				<a href="/blog" class="text-black 2xl:text-lg text-sm  font-normal group transition duration-300 ">Blog<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950 "></span></a>
				<a href="/contactpage" class="text-black 2xl:text-lg text-sm  font-normal group transition duration-300 ">Contact<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950"></span></a>
			</div>
			<div class=" lg:flex hidden items-center justify-between gap-3 font-Josefin ">
				<a href="#" class="px-[30px] py-2.5 rounded-[40px]  transition duration-500 hover:bg-blue-950 hover:text-white  2xl:text-lg text-sm">Login</a>
				<a href="#" class=" px-[30px] py-2.5 text-blue-950  transition duration-500 rounded-[40px] border hover:text-white hover:bg-blue-950 border-blue-950 2xl:text-lg text-sm text-center mb-[2px]">Sign Up</a>
			</div>
			<!--  Mobile  Navbar display btn -->
			<button  data-action="click->aboutus#displayNavbar" class=" lg:hidden  block scale-[1.4]">
					<%= image_tag("navbars.svg") %>
			</button>
		</div>
	</nav>  
	<!------ Navbar on Mobile  ------>
	<nav data-action="click->aboutus#hideNavbar"  data-aboutus-target="navbarToggle" class=" flex-col navbarAnimation z-50 hidden w-full h-full py-10 bg-white justify-center items-center fixed top-0    gap-10 ">
		<%= image_tag("https://codeeditor.alihamzakamboh.com/Code%20Editor/ahkamboh.png", class:" elative object-contain w-[130px] h-[80px]") %>
		<a href="#" class="text-black text-lg font-normal mt-auto group  transition duration-300 ">Home<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950 "></span></a>
		<a href="#" class="text-black text-lg font-normal group  transition duration-300">Pricing<span class="block max-w-0  group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950"></span></a>
		<a href="#" class="text-black text-lg font-normal group  transition duration-300">Contact<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950"></span></a>
		<a href="#" class="text-black text-lg font-normal group  transition duration-300">Blog<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5  bg-blue-950 "></span></a>
		<div class=" mt-auto flex  w-full justify-center items-center flex-col gap-4 px-10">
		  <a href="#" class=" sm:w-1/2 w-full  text-center  font-normal  text-lg px-[30px] py-2.5 rounded-[40px]  transition duration-500 bg-blue-950 text-white ">Login</a>
		  <a href="#" class=" sm:w-1/2 w-full px-[30px] font-normal text-lg py-2.5  transition duration-500 rounded-[40px] border hover:text-white hover:bg-blue-950 border-blue-950    text-center">Sign Up</span></a>
		</div>
		<!--  Mobile  Navbar close btn -->
		<button  class=" lg:hidden block  fixed right-8  top-[21.5px] z-[50] ">
			<%= image_tag("navbarCross.svg") %>
		</button>
	</nav>
</div>